<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="text-align:right;margin-bottom:5px;">
                <span class="label label-warning">Client Name:</span> <%= session[:client_name] %>
                <span class="label label-warning">GSTIN ID:</span> <%= session[:gstin_id] %>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="GST-1"> 
                        <h3>GST-1</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">    
                                    <a href="https://www.zendesk.com" title="Sign Up"> 
                                        <i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> Export
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <a href="https://www.google.com" title="Sign In"> 
                                        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i> Import
                                    </a>
                                </div>        
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="GST-2"> 
                        <h3>GST-2</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">    
                                    <a href="https://www.zendesk.com" title="Sign Up"> 
                                        <i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> Export
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <a href="https://www.google.com" title="Sign In"> 
                                        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i> Import
                                    </a>
                                </div>        
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="GST-3"> 
                        <h3>GST-3</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">    
                                    <a href="https://www.zendesk.com" title="Sign Up"> 
                                        <i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> Export
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <a href="https://www.google.com" title="Sign In"> 
                                        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i> Import
                                    </a>
                                </div>        
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="GST-4"> 
                        <h3>GST-4</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">    
                                    <a href="https://www.zendesk.com" title="Sign Up"> 
                                        <i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> Export
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <a href="https://www.google.com" title="Sign In"> 
                                        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i> Import
                                    </a>
                                </div>        
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="GST-5"> 
                        <h3>GST-5</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">    
                                    <a href="https://www.zendesk.com" title="Sign Up"> 
                                        <i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> Export
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <a href="https://www.google.com" title="Sign In"> 
                                        <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i> Import
                                    </a>
                                </div>        
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
        </div>
    </div> 
</section>