<section id="download">
    <div class="container">
        <div class="row">    
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="Form-1"> 
                        <h3>Form-1</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.zendesk.com" title="Sign Up"> 
                                    <h3>Sign-Up</h3>      
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.google.com" title="Sign In"> 
                                    <h3>Sign-In</h3>      
                                </a>
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="Form-2"> 
                        <h3>Form-2</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.zendesk.com" title="Sign Up"> 
                                    <h3>Sign-Up</h3>      
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.google.com" title="Sign In"> 
                                    <h3>Sign-In</h3>      
                                </a>
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="Form-3"> 
                        <h3>Form-3</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.zendesk.com" title="Sign Up"> 
                                    <h3>Sign-Up</h3>      
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.google.com" title="Sign In"> 
                                    <h3>Sign-In</h3>      
                                </a>
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="Form-4"> 
                        <h3>Form-4</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.zendesk.com" title="Sign Up"> 
                                    <h3>Sign-Up</h3>      
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.google.com" title="Sign In"> 
                                    <h3>Sign-In</h3>      
                                </a>
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
            
            <div class="col-xs-4 col-md-4 col-lg-4 main_block">
                <div>
                    <a href="http://jsbin.com/toxacataze/edit?html,css,output" title="Form-5"> 
                        <h3>Form-5</h3>
                        <ul> 
                            <li>Read more ... <span class="bold"></span></li> 
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.zendesk.com" title="Sign Up"> 
                                    <h3>Sign-Up</h3>      
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.google.com" title="Sign In"> 
                                    <h3>Sign-In</h3>      
                                </a>
                            </div>
                        </div>  
                    </a>  
                </div>
            </div>
        </div>
    </div> 
</section>