/*for form_info/index start*/
.main_block {
  width: 350px;
  margin-bottom: 1px;
  display: block;
  /*background-color: #00ced1;*/
  background-color: #191970;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0px 0px 10px 10px;
  box-shadow: 5px 5px 5px #888888;
}

.main_block li,h3,a {
  color: #fff;
  text-decoration: none !important;
}

.main_block:hover {
  /*background-color: #f5f5f5;*/
  background-color: #00ced1;
  transition: all .01s ease-in-out;
  transform: scale(1.05);
  text-decoration: none !important;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: underline;
}
/*for form_info/index end*/