<h3>Hello、</h3>　
<p>This is a system generated mail.</p>

<span>Name：</span> <%= @name %><br>
<span>Email：</span> <%= @frmMail %><br>
<span>Subject：</span> <%= @subject %><br>
<span>Message：</span> <%= @message %><br>

<h3>-Thanks & Best Regards,</h3>
<p>OneTaxGST Team.</p>