<fieldset>
     <!-- ヘッダ名 -->
    <div class="col-xs-12 col-sm-2 col-lg-10">
        <div class="form-group">
            <%= f.text_field :gstin_no, class: "form-control fields", placeholder: "GSTIN" %>
        </div>
    </div>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= f.remove_nested_fields_link 'Remove me', class: 'btn btn-danger', role: 'button' %>
    <%= link_to '#', class: "remove_fields", data: { confirm: 'Do you want to delete?' }  do %>
    <%#= f.remove_nested_fields_link data: { confirm: 'Do you want to delete?' } do %>
  		<i class="fa fa-trash-o fa-2x" style="color:red"></i>
	<% end %>
</fieldset>