<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <%= render 'clients/client_index' %>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <% if session[:is_mobile] %>
                        <%= render 'invite_users/m_invite_users_list' %>
                    <% else %>    
                        <%= render 'invite_users/invite_users_list' %>
                    <% end %>    
                </div>    
            </div>
        </div>
    </div>
</section>