<%= form_tag payments_path, id: 'card-details' do %>
  <div class="payment-errors"></div>
  <%= hidden_field_tag :plan_id %>
  
  <div class="col-md-4 col-md-offset-4 well">
    <div>
      <label for="card-number">Card Number:</label>
      <input id="card-number" type="text" data-stripe="number" value="4242 4242 4242 4242" class="form-control" />
    </div>
  
    <div>
      <label for="card-exp-month">Card Expiry Month:</label>
      <input id="card-exp-month" type="text" data-stripe="exp_month"  value="10" class="form-control" />
    </div>
  
    <div>
      <label for="card-exp-year">Card Expiry Year:</label>
      <input id="card-exp-year" type="text" data-stripe="exp_year"  value="2021" class="form-control" />
    </div>
  
    <div>
      <label for="card-cvc">CVC:</label>
      <input id="card-cvc" type="text" data-stripe="cvc"  value="222" class="form-control" />
    </div>
  
    <div>
      <label for="payment-type">Payment Type:</label>
      <select id="payment-type" name="payment_type" class="form-control" >
        <option value="deposit">¥20 Deposit</option>
        <option value="subscription">Monthly subscription, ¥9.97</option>
      </select>
    </div>
  
    <div>
      <input type="submit" value="Pay Now" class="btn btn-success btn-block btn-lg" />
    </div>
  </div>  
<% end %>
