 /*
  *= require prettify
 */ 
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "layout";
 @import "typography";
 @import "bootstrap_notify";
 @import "bootstrap-toggle";
 @import "bootstrap-datepicker3";
 @import "templatemo-style-custom";
 
 .field_with_errors_bk {
  padding: 2px;
  background-color: red;
  display: table;
}

// for form_info/index start
.main_block {
  width: 350px;
  margin-bottom: 1px;
  display: block;
  background-color: #00ced1;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin: 0px 0px 10px 10px;
  box-shadow: 5px 5px 5px #888888;
}
.main_block:hover {
  background-color: #f5f5f5;
  transition: all .01s ease-in-out;
  transform: scale(1.05);
}
// for form_info/index end


// for notification in screen start
// .notifications {
//   position: fixed;
//   z-index: 9999;
// }

/* Positioning */ 
// .notifications.top-right {
//   right: 10px;
//   top: 25px;
// }

// .notifications.top-left {
//   left: 10px;
//   top: 25px;
// }

// .notifications.bottom-left {
//   left: 10px;
//   bottom: 25px;
// }

// .notifications.bottom-right {
//   right: 10px;
//   bottom: 25px;
// }

// /* Notification Element */
// .notifications > div {
//   position: relative;
//   margin: 5px 0px;
// }
// for notification in screen end

.payment-errors {
    color: red;
    text-align: center;
}